In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv('../scripts/data.csv')

In [5]:
df2 = pd.read_csv('../scripts/data2.csv')

In [6]:
df1

,name,state,street,lon,lat,formatted,categories,No_column
0,Ramses Hilton,Cairo,Al Ghelal Street,31.231920049780662,30.0505894,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil...",NaN
1,Conrad Cairo,Cairo,Al Matbaah Al Amireh Street,31.228192046347168,30.065423799999998,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil...",NaN
2,Hilton Pyramids Golf,Giza,Al Wahat Road,31.04439972284689,29.96299995,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte...",NaN
3,Cairo Pyramids Hotel,Giza,"Cairo, Alexandria Desert Road",31.126265002453742,29.9929105,"Cairo Pyramids Hotel, Cairo, Alexandria Desert...","['accommodation', 'accommodation.hotel']",NaN
4,Sofitel,Cairo,Montazah Al Gezira Street,31.224616965446906,30.038717400000003,"Sofitel Al-Gezirah Cairo, 3 Montazah Al Gezira...","['accommodation', 'accommodation.hotel', 'buil...",NaN
...,...,...,...,...,...,...,...,...
1401,Aswan,Al Shahid Mounir Bernaba Atta Allah Street,32.9006781,24.0943534,"Al Shahid Mounir Bernaba Atta Allah Street, Sh...","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1402,Aswan,Al Bassaly Street,32.9004105,24.0945097,"Al Bassaly Street, Sherif Soliman, 81521, Egypt","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1403,Aswan,Street 10,32.8940555,24.0861575,"Street 10, Abd Al Aazim Hassn, 81511, Egypt","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1404,Aswan,Al Doctor Mohamed Yassin Elian Street,32.8931547,24.0850394,"Al Doctor Mohamed Yassin Elian Street, Abd Al ...","['commercial', 'commercial.food_and_drink', 'c...",[],NaN
1405,Aswan,Moustafa Mansour Hamada Street,32.8958008,24.0860451,"Moustafa Mansour Hamada Street, Abd Al Aazim H...","['commercial', 'commercial.food_and_drink', 'c...",[],NaN

In [7]:
df2

,name,state,district,street,lon,lat,formatted,categories,Unnamed: 8
0,Ramses Hilton,Cairo,Sharkas,Al Ghelal Street,31.23192005,30.0505894,"Ramses Hilton, 1115 Al Ghelal Street, Boulak, ...","['accommodation', 'accommodation.hotel', 'buil...",NaN
1,Conrad Cairo,Cairo,Souk El A'sr,Al Matbaah Al Amireh Street,31.22819205,30.0654238,"Conrad Cairo, 1191 Al Matbaah Al Amireh Street...","['accommodation', 'accommodation.hotel', 'buil...",NaN
2,Hilton Pyramids Golf,Giza,Block 3,Al Wahat Road,31.04439972,29.96299995,"Hilton Pyramids Golf, Al Wahat Road, Gardina P...","['accommodation', 'accommodation.hotel', 'inte...",NaN
3,Hilton Cairo Zamalek Residences,Cairo,Mohamed Mazhar,Mohamed Mazhar Street,31.22270627,30.06799785,"Hilton Cairo Zamalek Residences, 21 Mohamed Ma...","['accommodation', 'accommodation.hotel', 'buil...",NaN
4,"Fairmont Nile City Hotel, Cairo",Cairo,El Sabteya,Kornish Al Nil Street,31.22787669,30.0719545,"Fairmont Nile City Hotel, Cairo, Kornish Al Ni...","['accommodation', 'accommodation.hotel', 'buil...",NaN
...,...,...,...,...,...,...,...,...,...
1000,Aswan,Al Sadat Road,32.8821716,24.0546158,"Al Sadat Road, Nagaa Al Mahata, 81531, Egypt","['commercial', 'commercial.gift_and_souvenir']",NaN,NaN,NaN
1001,Aswan,loop from Nubialin,32.8917848,24.0961496,"loop from Nubialin, Siou, 81511, Egypt","['commercial', 'commercial.food_and_drink', 'c...",NaN,NaN,NaN
1002,Fruit juices,Aswan,Kornish Al Nile Street,32.8942025,24.0888877,"Fruit juices, Kornish Al Nile Street, Abd Al A...","['commercial', 'commercial.food_and_drink', 'c...",NaN,NaN
1003,Zhara house,Aswan,Street 6,32.8626586,24.0590035,"Zhara house, Street 6, Nagaa Al Mahata, 81531,...","['commercial', 'commercial.gift_and_souvenir']",NaN,NaN
1004,State Bakery,Aswan,East Al Bandr Street,32.8980355,24.0843479,"State Bakery, East Al Bandr Street, Abd Al Haf...","['commercial', 'commercial.food_and_drink', 'c...",NaN,NaN